body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.nike{
    position: relative;
    width: 470px;
    height: 200px;
    /* background: #000; */
    z-index: 3;
    overflow: hidden;
}

.nike::before{
    content: '';
    position: absolute;
    top: -250px;
    left: 190px;
    width: 150px;
    height: 550px;
    background: #000;
    border-top-left-radius: 60px 110px;
    border-top-right-radius: 85px;
    transform: rotate(-113deg);
    z-index: 1;
}

.nike::after{
    content: '';
    position: absolute;
    top: -235px;
    left: 220px;
    width: 120px;
    height: 500px;
    border-top-left-radius: 80px 110px;
    border-top-right-radius: 130px 220px;
    transform: rotate(-104deg);
    background: #fff;
    z-index: 2;
}

h3{
    position: relative;
    color: #000;
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    font-size: 72px;
    margin: 0;
    padding: 0;
}